@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/* Reset Simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cores Basicas */

body {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  background-color: beige;
  color: rgb(94, 59, 20);
}

/* Hero */

.hero {
  background-color: #d8cfc4;
  padding: 40px 20px;
  text-align: center;
}

/* Menu */
.menu {
  margin-bottom: 30px;
}
.menu a {
  text-decoration: none;
  color: #2c1e15;
  font-weight: bold;
  margin: 0 15px;
}
.menu a:hover {
  text-decoration: underline;
}

/* Texto do Hero  */
.hero-content h1 {
  margin-bottom: 10px;
}

/* Conteúdo */

.conteudo {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}
/* SEÇÕES */
.secao {
  background-color: rgb(250, 223, 173);
  display: flex;
  /* gap: 20px; */
  margin-bottom: 40px;
  align-items: center;
}
.secao img {
  width: 400px;
  max-width: 100%;
}
.secao h2 {
  margin-bottom: 10px;
}
.secao-conteudo {
  height: 250px;
  width: 100%;
  background-color: #d8cfc4;
}
/* FOOTER */
.footer {
  background-color: #cbbeb1;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
}
